blinker
click
dnspython
Flask
Flask-PyMongo
Flask-SQLAlchemy
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
pymongo
pytest
pytest-flask
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
coverage
codacy-coverage
